<div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 680px;">
            <img class="d-block w-100" src="../assets/13.jpg" alt="First slide">
            <div class="carousel-caption">
                    <h3>Bienvenue</h3>
                    <h5>sur la galerie de MeltedGlow</h5>
                  </div>
          </div>
        </div>
      </div><br/>

      
<h1>ArtWorks </h1><br/>
<div class="text-center">
    <app-produit *ngFor="let n of tabproduit; let i=index" [ref]="n.ref" [titre]="n.titre" [photo]="n.photo" [prix]="n.prix" [id]="i"></app-produit>
</div>
<br/>
<a routerLink="/recherche" class="btn btn-primary">Faire une recherche</a>    

